@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}



.scrollbar-none::-webkit-scrollbar {
  display: none; 
}


.marquee-text {
  display: inline-block;
  padding-left: 100%;       /* start from right */
  font-size: 1rem;
  font-weight: 600;
  color: #b45309;
  animation: marquee 6s linear infinite;
}

/* smoother animation */
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
